body {
    background-color: black;
}
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem ;
  text-transform: uppercase;
  font-family: 'Aref Ruqaa Ink', serif;
font-family: 'Sedgwick Ave Display', cursive;
}
#logo a {
    font-size: 4rem;
    padding: 1rem;
    color: rgb(61, 61, 224);
    text-transform: uppercase;
margin: 4rem;
text-shadow: 2px 2px 1px white;
  text-decoration: none;

}
header ul {
display: flex;

}
 
#durk a {
    text-decoration: none;
    margin: 3rem;
    font-size: 4rem;
    color: rgb(61, 61, 224); 
  
    }
    #durk a:hover {
      color: beige;
     transition:0.5s ;
    }
#centro {
    background-color: rgb(70, 88, 204);
   padding: 3rem;
    border-radius: px;
    box-shadow: 9px 9px 1px;
    margin-top: auto;
    display: flex;}

main ul {
  display:flex;
   margin: 0px auto 50px auto ;
  gap: 200rem 200rem;





}


.item-content {
  padding: 2rem;
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  margin: -15rem;
  font-size: 1rem;
  

 
}
main li img{
 width: 35rem;
  height: 35rem;
 

}
main ul {
  width: 80rem;
   grid-template-columns: 40rem 40rem;
 display: grid;
 gap: 15rem 15rem;
 height: 80rem;
}
 main h2 {
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 justify-content: space-between;
 margin:  9rem auto;
 padding: 6rem 6rem;

 

}
main h2:hover {
  color: rgb(87, 121, 218);
  transition: 0.5s;
}

p {
  color: azure;
  margin: 2rem ;
  text-align: center;
}


